<a href="https://colab.research.google.com/github/Sangram2905/pwskills_ds_in2/blob/main/a4c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Note all the program snipit are  refer from from Veruous google search sites (*Copy)

In [ ]:
"""Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function. [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]"""

l1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

data = sorted(l1, key = (lambda n: n[1]))

print(data)

*Copy

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
"""Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq_lst = list(map(lambda n: n**2, num_list))

print(sq_lst)

*Copy

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
"""Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')"""

num_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

str_tuple = tuple(map(lambda x: str(x),num_lst))

print(str_tuple)
*Copy

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
"""Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25."""

from functools import reduce

num_lst = list(range(1, 26))

prod_lst = reduce(lambda x, y: x * y, num_lst)

print((prod_lst))
*Copy

15511210043330985984000000

In [ ]:
"""Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]"""

num_lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list_2_3= list(filter(lambda x: x % 2 == 0 and x % 3 == 0, num_lst))

print(list_2_3)
*Copy

[6, 60, 90, 120]

In [ ]:
"""Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']"""

words = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], words))

print(palindromes)
*Copy