In [2]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""

#Ans:-
#string
name = "Sangram"
#list
number_list =[1,2,3,4,5,6] 
#float
num_float = 1.01234
#tuple
ver_tuple = (1,2)

print(type(name))
print(type(number_list))
print(type(num_float))
print(type(ver_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [6]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
"""
#Ans:-
var1 = '' #String
var2 = '[ DS , ML , Python]'#String
var3 = [ 'DS' , 'ML' , 'Python' ] #List
var4 = 1. #Float

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

#Ans:
#(i) / operator use to math or Arithmetic operators operation for divide 
num = 2/4 #ans num = 2

#(ii) % operator use to math or Arithmetic operators operation for Modulus

num2 = 99%100 #ans num2 = 99

#(iii) // operator use to math or Arithmetic operators operation for Floor division

num3 = 100//50 #ans = num3 = 2

#(iv) ** operator use to math or Arithmetic operators operation for Exponentiation
num4 = 2**2 #ans = num4 = 4

In [30]:
"""Q4. Create a list of length 10 of your choice containing multiple type of data. Using for loop print the
element and its data type."""

string_list = "DataScienc"
l2 =list(string_list)
print(len(l2))
for n in l2:
    print(n)

10
D
a
t
a
S
c
i
e
n
c

In [19]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
a = 400
b = 88
l1 =[]
while True:
    if a//b != 0:
        break
    elif a%b ==0:
        l1.append(1)
        print("Number a is divisable by b and its dvisible by {} times".format(len(l1)))
        break

In [20]:
"""Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

l2= []
for num in range(1,26):
    l2.append(num)
for n in l2:
    if int(n)%3==0:
        print("Number {} is divisable by 3".format(int(n)))

Number 3 is divisable by 3
Number 6 is divisable by 3
Number 9 is divisable by 3
Number 12 is divisable by 3
Number 15 is divisable by 3
Number 18 is divisable by 3
Number 21 is divisable by 3
Number 24 is divisable by 3

In [25]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

#mutable data types are the data where we can do operations of data manuplation like changing word
l1 = "sangram"
l2 = list(l1) 
l2[0] = "S"

#immutable data types are the data where we cant do operations like tupel as data cant be change 
l3 = ("sangram","phadke")

l3[0] = "S" 

##Error given for l3

TypeError: 'tuple' object does not support item assignment